<div class="navbar navbar-expand-sm navbar-primary colclass ">
<div>ITIBSE maintainence request</div>
<button class="navbar-toggler bg-secondary" type="button" data-bs-toggle="collapse"
 data-bs-target="#navbar01" aria-controls="navbar01" aria-expanded="false" 
 aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button>

 <div class=" collapse navbar-collapse" id="navbar01">
  <div class=" navbar-nav ml-auto">
     <span  class="nav-item nav-link active" a routerLink="/IBSE" routerLinkActive="active">IBSC Request </span> 
     <span  class="nav-item nav-link" a routerLink="/request-data" routerLinkActive="active">Coolgen-Migration-Request</span> 
     <span  class="nav-item nav-link" a routerLink="/request-lookup" routerLinkActive="active">Request-Lookup</span> 
  </div>
 </div>
</div>

<router-outlet></router-outlet> 